In [48]:
import pandas as pd
import numpy as np
import openpyxl

In [49]:
sheet1 = pd.read_excel(r"D:\jupyter file\数据处理-日常\1.xlsx", sheet_name='Sheet1');
sheet2 = pd.read_excel(r"D:\jupyter file\数据处理-日常\1.xlsx", sheet_name='Sheet2');

ValueError: Worksheet named 'Shee1' not found

In [47]:
sheet1.columns = ['calc_month', 'start_months', 'periods', 'amount']

ValueError: Length mismatch: Expected axis has 5 elements, new values have 4 elements

In [34]:
sheet1

    calc_month start_months  periods    amount
0      2022-10      2022-08       24    187.05
1      2022-10      2022-08       36   9669.15
2      2022-11      2022-08       24    187.05
3      2022-11      2022-08       36   9620.67
4      2022-11      2022-09       24  24221.08
..         ...          ...      ...       ...
444    2024-07      2024-03       24   2097.91
445    2024-07      2024-03       36   4590.42
446    2024-07      2024-04       36   1886.61
447    2024-07      2024-05       24   1776.88
448    2024-07      2024-05       36   3841.17

[449 rows x 4 columns]

In [35]:
# 转换日期列
sheet1['calc_month'] = pd.to_datetime(sheet1['calc_month'], format='%Y-%m')
sheet1['start_month'] = pd.to_datetime(sheet1['start_months'], format='%Y-%m')

In [36]:
# 创建一个函数来找到6个月的总金额
def calculate_num_month_total(df, start_month, periods, monthss):
    # 获取6个月内的数据
    end_month = start_month + pd.DateOffset(months=monthss)
    filtered_data = df[
        (df['start_month'] == start_month) &
        (df['calc_month'] < end_month) &
        (df['periods'] == periods)
    ]
    
    # 计算总金额
    total_amount = filtered_data['amount'].sum()
    return total_amount

In [37]:
sheet2['交易月'] = pd.to_datetime(sheet2['交易月'], format='%Y-%m')

In [38]:
sheet2['交易月'][0]

Timestamp('2022-07-01 00:00:00')

In [39]:
sheet2.iloc[1,0]

24

In [40]:
# 应用到Sheet2的数据上
sheet2['6个月金额合计'] = sheet2.apply(
    lambda row: calculate_num_month_total(sheet1, row['交易月'], row['期数'], 8), axis=1
)

In [41]:
# 应用到Sheet2的数据上
sheet2['12个月金额合计'] = sheet2.apply(
    lambda row: calculate_num_month_total(sheet1, row['交易月'], row['期数'], 14), axis=1
)

In [42]:
# 应用到Sheet2的数据上
sheet2['18个月金额合计'] = sheet2.apply(
    lambda row: calculate_num_month_total(sheet1, row['交易月'], row['期数'], 20), axis=1
)

In [43]:
sheet2

    期数        交易月     6个月金额合计    12个月金额合计    18个月金额合计
0   24 2022-07-01        0.00        0.00        0.00
1   24 2022-08-01     1122.30     2209.80     3187.10
2   24 2022-09-01   143991.56   284182.04   418217.11
3   24 2022-10-01   180138.89   356129.55   525354.68
4   24 2022-11-01   152722.87   302982.31   450230.14
5   24 2022-12-01   112340.46   222590.98   330875.36
6   24 2023-01-01   151311.14   300336.11   421701.37
7   24 2023-02-01   140897.87   280297.52   371766.00
8   24 2023-03-01   106760.48   211895.27   263466.81
9   24 2023-04-01   110991.70   219234.67   254564.41
10  24 2023-05-01   112111.90   222899.87   240919.64
11  24 2023-06-01    82719.65   163543.83   163543.83
12  24 2023-07-01    23146.24    42423.94    42423.94
13  24 2023-12-01        0.00        0.00        0.00
14  24 2024-01-01    26531.69    26531.69    26531.69
15  24 2024-02-01    12833.16    12833.16    12833.16
16  24 2024-03-01     6294.85     6294.85     6294.85
17  24 2024-04-01        0.00        0.00        0.00
18  24 2024-05-01     1776.88     1776.88     1776.88
19  36 2022-07-01        0.00        0.00        0.00
20  36 2022-08-01    57287.12   114595.10   171140.34
21  36 2022-09-01    79201.50   157958.84   235763.40
22  36 2022-10-01    87758.72   174892.34   260517.73
23  36 2022-11-01   208188.38   413336.67   614965.97
24  36 2022-12-01   188878.92   375806.56   560373.18
25  36 2023-01-01   277158.59   550153.13   775229.73
26  36 2023-02-01   308256.48   613240.84   813804.30
27  36 2023-03-01   621086.47  1234681.71  1538270.91
28  36 2023-04-01  1069030.50  2130171.34  2481644.69
29  36 2023-05-01   965587.38  1923486.72  2082173.51
30  36 2023-06-01   996591.55  1983838.64  1983838.64
31  36 2023-07-01   201206.77   366626.91   366626.91
32  36 2023-12-01     2214.00     2214.00     2214.00
33  36 2024-01-01    25294.75    25294.75    25294.75
34  36 2024-02-01    12883.68    12883.68    12883.68
35  36 2024-03-01    13775.25    13775.25    13775.25
36  36 2024-04-01     3805.38     3805.38     3805.38
37  36 2024-05-01     3841.17     3841.17     3841.17
38  36 2024-06-01        0.00        0.00        0.00

In [44]:
sheet2.to_excel('吉林.xlsx', index=False)